<!DOCTYPE html>
<html lang="en">

<head>
  <title>Low impact authentication via SMS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
</head>

<body>
  <header>
    <h1>
      Low-impact authentication via SMS
    </h1>
  </header>

  <main>
    <p>
      How does it work? The admin of this site generates a text to your phone, allowing you to pick a username
      and create an account here. Once your account is created, you're logged in and your phone number is deleted.
      This allows the admin to easily provide access to trusted friends while not putting their personal
      information at risk.
    </p>

    <p>
      Received an authentication code? <a href="/signup">Go here to sign up!</a>
    </p>
  </main>

</body>

</html>