<!DOCTYPE html>
<html lang="en">

<head>
  <title>Low impact authentication via SMS</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- import the webpage's stylesheet -->
  <link rel="stylesheet" href="/style.css">

  <!-- import the webpage's client-side javascript file -->
  <script src="/client.js" defer></script>
  <!-- <script type="application/json" src="/client.js" defer></script> -->
</head>

<body>
  <header>
    <h1>
      Low-impact authentication via SMS
    </h1>
  </header>

  <main>
    <h2>
      Sign up or log in
    </h2>

    <form id="loginForm" method="post" action="/login">
      <label>Phone number:
        <input type="phone" id="phone" name="phone" autocomplete="phone" />
      </label>

      <label>Username:
        <input type="text" id="username" name="username" autocomplete="username" />
      </label>

      <label>PIN:
        <input type="text" id="pin" name="pin" autocomplete="pin" />
      </label>

      <input type="submit" value="Sign up" id="signup_btn" />
      <h3 id="feedback"></h3>
    </form>
  </main>
</body>

</html>